<div class="main">
  <p>
    Congratulations! You made it inside the app!
  </p>
<button (click)="onLogout()">Log Out</button>
</div>

<app-alert [message]="idleState" *ngIf="isIdle"></app-alert>

<div class="main">
  <hr>
  Time Now: {{now}} | {{now | date:'longDate'}} : {{now | date:'longTime'}} 

  <hr>
  Token Expires in: {{expiresIn}} | {{expiresIn | date:'longDate'}} : {{expiresIn | date:'longTime'}} 

  <hr>
  Authorized Time: {{authorizedTime | date:'longTime'}}
  <p>{{authorizedTime}}</p>
</div>